In [2]:
import pandas as pd
import numpy as np
import nibabel as nib

In [3]:
raw = nib.streamlines.load('/Users/xinyi/Documents/GitHub/rCOMMIT/599671/all.tck')

In [9]:
raw.header['nb_streamlines']

10000000

In [44]:
eval = pd.DataFrame(index=range(raw.header['nb_streamlines']))

In [45]:
eval

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10000000 rows x 0 columns]

In [14]:
import json
with open('/Users/xinyi/Documents/GitHub/rCOMMIT/599671/rc_results/idx_10000_0.txt') as f:
    json_data = json.load(f)

In [20]:
subset_idx = pd.DataFrame(index=json_data['idx'])

In [23]:
lines = np.loadtxt("/Users/xinyi/Documents/GitHub/rCOMMIT/599671/rc_results/streamline_weights_10000_0.txt", delimiter=",", unpack=False)

AttributeError: 'numpy.ndarray' object has no attribute 'isna'

In [30]:
subset_idx = pd.DataFrame({'1000_0':lines},index=json_data['idx'])

In [50]:
with open('/Users/xinyi/Documents/GitHub/rCOMMIT/599671/rc_results/idx_15000_0.txt') as f:
    json_data = json.load(f)
lines_1 = np.loadtxt("/Users/xinyi/Documents/GitHub/rCOMMIT/599671/rc_results/streamline_weights_15000_0.txt", delimiter=",", unpack=False)
subset_idx_1 = pd.DataFrame({'15000_0':lines_1},index=json_data['idx'])

In [46]:
eval = eval.join(subset_idx, how='outer')

In [51]:
eval = eval.join(subset_idx_1, how='outer')

In [64]:
subset_idx_1.where(subset_idx_1 >100 )

         15000_0
5375595  134.809
6900437  345.137
5272580  546.513
9965675  249.462
2447129      NaN
...          ...
5963799      NaN
6785867  157.057
3010458  137.040
8727305  193.869
9913457      NaN

[15000 rows x 1 columns]

In [61]:
eval['15000_0'].where(eval['15000_0'] > 100)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
9999995   NaN
9999996   NaN
9999997   NaN
9999998   NaN
9999999   NaN
Name: 15000_0, Length: 10000000, dtype: float64

In [42]:
eval.where(eval > 1000)

         1000_0
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
9999995     NaN
9999996     NaN
9999997     NaN
9999998     NaN
9999999     NaN

[10000000 rows x 1 columns]